@font-face {
    font-family: sansserif;
    src: url(fonts/SansSerifBldFLF-Italic.otf);
}

* {
    margin: 0px;
    padding: 0px;
    border: border-box;
    }

html, body {
    height: 100%;
    padding: 0;
    background-color: #EEEEEE;
    color: #303030;
}

#bodyshop {
    background: url(afbeeldingen/ronaldoactietransp.jpg);
    background-repeat:    no-repeat;
    background-size: auto;
}

main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: justify;
}


header {
    color: rgb(250, 38, 0);
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
}

.sportingtekst {
    margin-bottom: 32px;
}

.manchestertekst {
    margin-bottom: 32px;
}

.realmadridtekst {
    margin-bottom: 32px;
}

.koppenconcurrenten {
    color: rgb(10, 30, 130);
    margin-bottom: 4px;
}

.nationaleconcurtekst {

}

.internationaleconcurtekst {
    margin-bottom: 16px;
}

.toelichtingenfotos {
    float: right;
    font-size: 12px;
}

.headerLinksConc {
    float: left;
    margin-left: 144px;
    
}

.headerRechtsConc {
    float: right;
    margin-right: 144px;
}

#tussenkopjescarriere {
    text-align: center;
    margin-bottom: 10px;
}

.inleiding {
    font: sans-serif;
    margin-bottom: 6px;
}

img.zweefLinks {
    float: left;
    margin-right: 15px;
}

img.zweefRechts {
    float: right;
    margin-left: 15px;
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.algemeentekst3 {
    margin-bottom: 6px;
}

#hoofdtitel {
    margin-top: 6px;
}

/* Navigatiebalken */

div.navigatiebalktop ul {
    list-style-type: none;
    margin: auto;
    margin-top: 6px;
    margin-bottom: 6px;
    padding: 0;
    background-color: #d6cece;
    overflow: hidden;
    font-size: 18px;
}

div.navigatiebalktop ul li {
    float: left;
}

div.navigatiebalktop li a {
    display: block;
    color: white;
    text-align: center;
    width: 140px;
    padding: 14px 0;
    text-decoration: none;
}

div.navigatiebalktop li a:hover{
    background-color: limegreen;
}

div.navigatiebalktop li a.active{
    background-color: skyblue;
}


div.verticalmenushop ul {
    list-style-type: none;
    margin: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100px;
    background-color: #f1f1f1;
    border: 1px solid black;
    line-height: 50x;
    text-align: center;
    color: #000;
    font-size: 18px;
}

div.verticalmenushop li a {
    display: block;
    color: ##4f66d2;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
}

div.verticalmenushop{

}

div.verticalmenushop

div.verticalmenushop