@font-face {
    font-family: sansserif;
    src: url(fonts/SansSerifBldFLF-Italic.otf);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    }

html, body {
    height: 100%;
    padding: 0;
    background-color: #EEEEEE;
    color: #303030;
}

#bodyshop {
    background: url(afbeeldingen/ronaldoactietransp.jpg);
    background-repeat:    no-repeat;
    background-size: auto;
}

main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: justify;
}


header {
    color: rgb(250, 38, 0);
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
}

#footeralgemeen {
    margin-top: 10px;
}

.sportingtekst {
    margin-bottom: 32px;
}

.manchestertekst {
    margin-bottom: 32px;
}

.realmadridtekst {
    margin-bottom: 32px;
}

.headernatconcur {
    font-family: serif;
    color: rgb(10, 30, 130);
    margin-bottom: 4px;
}

.headerinterconcur {
    font-family: serif;
    color: rgb(10, 30, 130);
    margin-top: 28px;
    margin-bottom: 4px;
}

.headercompconcur {
    font-family: serif;
    color: rgb(10, 30, 130);
    margin-top: 80px;
    margin-bottom: 4px;
}

.toelichtingenfotos {
    float: right;
    font-size: 12px;
    margin-right: 46px;
}

.headerMessi {
    font-family: sans-serif, serif;
    margin-top: 16px;
    margin-bottom: 4px;
}

.headerNeymar {
    font-family: sans-serif, serif;
    margin-top: 88px;
    margin-bottom: 4px;
}

.headerGriezzman {
    font-family: sans-serif, serif;
    margin-top: 108px;
    margin-bottom: 4px;
}

.headerVanDijk {
    font-family: sans-serif, serif;
    margin-top: 106px;
    margin-bottom: 4px;
}

.lijstjeImmobile {
    margin-top: 4px;
    margin-left: 12px;
}

.lijstjesprijzen {
    margin-top: 12px;
    margin-bottom: 16px;
    margin-left: 20px;
    font-size: 18px;
}

.plaatjesprijzen {
    border: 1px solid rgb(0, 0, 66);
}

#footerconcur {
    margin-top: 10px;
}

#tussenkopjescarriere {
    text-align: center;
    margin-bottom: 10px;
}

.inleiding {
    margin-bottom: 6px;
}

img.zweefLinks {
    float: left;
    margin-right: 15px;
}

img.zweefRechts {
    float: right;
    margin-left: 15px;
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.algemeentekst3 {
    margin-bottom: 6px;
}

#hoofdtitel {
    margin-top: 6px;
}

.koppenprijzen {
    margin-top: 10px;
    margin-bottom: 20px;
    color: rgb(6, 68, 184);
    font-family: sans-serif, serif;
}

/* Navigatiebalken */

div.navigatiebalktop ul {
    list-style-type: none;
    margin: auto;
    margin-top: 6px;
    margin-bottom: 6px;
    padding: 0;
    background-color: #d6cece;
    overflow: hidden;
    font-size: 18px;
}

div.navigatiebalktop ul li {
    float: left;
    font: sans-serif;
}

div.navigatiebalktop li a {
    display: block;
    color: white;
    text-align: center;
    width: 140px;
    padding: 14px 0;
    text-decoration: none;
}

div.navigatiebalktop li a:hover{
    background-color: limegreen;
}

div.navigatiebalktop li a.active{
    background-color: skyblue;
}


div.verticalmenushop ul {
    list-style-type: none;
    margin: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100px;
    background-color: #f1f1f1;
    border: 1px solid black;
    line-height: 50x;
    text-align: center;
    color: #000;
    font-size: 18px;
}

div.verticalmenushop li a {
    display: block;
    color: ##4f66d2;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
}

div.verticalmenushop{

}

div.verticalmenushop

div.verticalmenushop